
.containerTicketCart{
    max-width: 300px;
    width: 100%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    height: max-content;
}



.containerTicketCart h3{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
   
}

.ticketsInfoTicketCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

.ticketsInfoTicketCart p:first-child{
    font-size: 18px;
}

.ticketsInfoTicketCart p{
    display: flex;
    align-items: center;
    gap: 5px;
}

.containerTicketCart ul{
    list-style: none;
    padding: 0px;
    min-height: 150px;
    margin-top: 30px;
   
}

.containerTicketCart ul li{
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid grey;
   padding: 12px 0px;
  
}

.containerTicketCart ul li p{
    margin: 0px;
}

.seatTicket, .typeTicket{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    font-size: 16px;
}

.containerTicketCart .removeTicket{
   border: none;
   width: 35px;
   height: 35px;
   background: none;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   border-radius: 4px;
   transition: 0.3s ease-in;
}

.containerTicketCart .removeTicket:hover{
    background: #f0f0f0;
    transition: 0.3s ease-in;
}


.buyTicket{
    background: #000000;
    color: #fff;
    max-width: 250px;
    width: 100%;
    height: 35px;
    border-radius: 4px;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.containerTicketCart .buyTicket:hover{
    background: #414141;
    transition: 0.3s ease-in;
}

.containerTicketCart ul .noTickets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 150px;
    border: 1px solid #f0f0f0;
    color: #858585;

}

.openTicketCart{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 0px 0px 0px auto;
    transition: 0.3s ease-in;
}

.openTicketCart:hover{
    background: #414141;
    transition: 0.3s ease-in;
}
  

@media screen and (max-width:768px) {
    .containerTicketCart{
        max-width: 90%;
        margin: 0 auto;
        position: fixed;
        bottom: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    .openTicketCart{
        display: flex;
    }

    .openTicketCart.arrowCart svg{
        transform: rotate(180deg);
    }

    .buyTicketInfo.activeMobile{
        display: none;
    }

    .containerTicketCart h3{
        justify-content: flex-start;
        margin-bottom: 0px;
    }

    
    
}